/* Diseno de vista 'crear cuenta' */
/* rem: para font-size; em: para padding/margin */
@import url("variables.css");

body {
    margin: 0;
    font-family: var(--main-font);
}

/* Header */

.header-page {
    background-color: var(--main-color-app);
    color: var(--white-app-color);
    padding: 1.875em 0 5.625em;
}

.left-arrow svg {
    height: 3.75em;
    width: 3.75em;
    margin-left: 0.625em;
}

.left-arrow path {
    stroke: var(--white-app-color);
}

.header-page h1 {
    margin: 0;
    font-size: 3.125rem;
    text-align: center;
    padding-top: 0.3em;
}

.header-page h2 {
    display: none;
}


/* Body */

.crear-cuenta-body {
    margin: 3.75em 0;
}

.crear-cuenta-body h2 {
    font-size: 2.6875rem;
    margin: 0;
    text-align: center;
}

.crear-cuenta-body form {
    margin: 3.75em 2.5em 0;
}

.crear-cuenta-body form input, .crear-cuenta-body form button {
    width: stretch;
    padding: 0.9375em 1em;
    font-size: 1rem;
    font-family: var(--main-font);
    border-radius: 25px;
}

.crear-cuenta-body form input {
    border: solid 1px var(--main-color-app);
    background-color: var(--white-app-color);
    margin-bottom: 1.25em;
}

.crear-cuenta-body form input::placeholder {
    color: var(--placeholder-color);
}

.crear-cuenta-body form button {
    font-weight: bold;
    color: var(--white-app-color);
    border: 0;
    background-color: var(--main-color-app);
}

.crear-cuenta-body p {
    text-align: center;
    margin: 1em 0 0 0;
}

.crear-cuenta-body p a {
    color: var(--main-color-app);
}


/*
=====================
    MEDIA QUERIES
=====================
*/

@media screen and (min-width: 62.6875em) { /* 62.6875 em = 1003 px */
    body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        min-height: 100vh;
    }

    .header-page {
        display: grid;
        grid-area: 1 / 2 / 2 / 3;
        grid-gap: 30px;
    }

    .header-page h1 {
        display: grid;
        align-items: end;
    }

    .header-page h2 {
        display: block;
        font-weight: 300;
        text-align: center;
        margin: 0;
    }

    .header-page .left-arrow {
        display: none;
    }

    .crear-cuenta-body {
        grid-area: 1 / 1 / 2 / 2;
        margin: auto 2.5em;
    }

    .crear-cuenta-body form {
        margin: 3.75em 0 0;
    }
}

