/*
=================================================================
    Archivo de definición de valores globales para las vistas
=================================================================
*/

/* Importacion de Google Font 'Inter' */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Definicion de custom properties */
:root {
    --main-color-app: #3F3C9C;
    --main-light-color: #8D7FE9;
    --button-app-color: #D14D49;
    --white-app-color: #F8F8FF;
    --placeholder-color: #A9A9A9;
    --body-bg-color: #F9F9F9;
    --main-font: "Inter", sans-serif;
    --container-border: 1px #e3e3e3 solid;
}

/* Definicion de propiedades para selector universal */
*, *::before, *::after {
    box-sizing: border-box;
}
