/* Diseno pagina de login */
/* rem: para font-size; em: para padding/margin */
@import url("globals.css");

body {
    margin: 0;
    font-family: var(--main-font);
    background-color: var(--body-bg-color);
}

/*
==============
    HEADER
==============
*/

.header-login {
    background-color: var(--main-color-app);
    color: var(--white-app-color);
    padding: 5em 0;
}

.header-login h1 {
    margin: 0;
    text-align: center;
    font-size: 3.125rem;
}

.header-login h2 {
    margin: 40px 0 0;
    text-align: center;
    font-weight: 300;
}


/*
============
    BODY
============
*/

.content-wrapper {
    position: relative;
    margin: 20px;
    background-color: white;
    border: var(--container-border);
}

.login-body, .crear-cuenta-body {
}

.login-body {
    position: relative;
    transform: translateY(0%);
    padding: 20px;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.crear-cuenta-body {
    visibility: hidden;
    position: absolute;
    overflow: hidden;
    padding: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    max-height: 0;
    z-index: 0;
    transform: translateY(10%);
    transition: transform 0.5s ease-in-out, visibility 1s ease-in-out, opacity 0.5s ease-in-out;
}

.signup-activo {
    position: static;
    visibility: visible;
    transform: translateY(0%);
    padding: 20px;
    opacity: 1;
    overflow: visible;
    max-height: 469px;
}

.login-inactivo {
    position: absolute;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    z-index: 0;
    padding: 0;
    transform: translateY(-10%);
    max-height: 0;
}

.login-body h2, .crear-cuenta-body h2 {
    margin: 40px 0;
    font-size: 2.3125rem;
    text-align: center;
}

.login-body p, .crear-cuenta-body p {
    text-align: center;
    margin: 1.5em 0 40px;
}

.clickable {
    color: var(--main-color-app);
    cursor: pointer;
    text-decoration: underline;
}

.formulario input::placeholder {
    font-size: 1rem;
    font-family: var(--main-font);
    color: var(--placeholder-color);
}

.formulario input, .formulario button {
    font-size: 1rem;
    width: stretch;
    padding: 0.9375em 1em;
    border-radius: 40px;
}

.formulario input {
    margin-bottom: 1.25em;
    border: 1px solid var(--main-color-app);
}

.formulario button {
    cursor: pointer;
    background-color: var(--main-color-app);
    font-family: var(--main-font);
    font-weight: bold;
    color: var(--white-app-color);
    border: 0;
}


/*
=====================
    MEDIA QUERIES
=====================
*/

@media (min-width: 992px) {
    .wrapper-page {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        height: 100vh;
    }

    .header-login {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-container {
        display: flex;
        justify-content: center;
    }

    .content-wrapper {
        display: flex;
        align-items: center;
        position: static;
        margin: 40px 60px;
    }
    
    .login-body, .crear-cuenta-body {
        padding: 0;
    }

    .login-body h2, .crear-cuenta-body h2 {
       margin: 40px 0 60px;
    }

    .login-body {
        transform: translateX(0%);
    }

    .crear-cuenta-body {
        transform: translateX(-10%);
    }

    .signup-activo {
        transform: translateX(0%);
    }
    
    .login-inactivo {
        transform: translateX(10%);
    }

    .formulario {
        margin: 0 40px;
    }
}
