@import url("variables.css");

body {
    margin: 0;
    font-family: var(--main-font);
    background-color: #f9f9f9;
}


/*
=================
    Header
=================
*/

.title-container {
    background-color: var(--main-color-app);
}

.title-container a {
    display: inline-block;
    font-size: 45px;
    text-decoration: none;
    margin: 30px 0 0 15px;
}

.title-container .fa-arrow-left {
    display: block;
    color: var(--white-app-color);
}

.title-container h1 {
    margin: 0;
    padding: 30px 0 80px;
    font-size: 2.845425rem;
    color: var(--white-app-color);
    text-align: center;
}


/* Contenido del resumen */
.resumen-container {
    background-color: var(--main-light-color);
    padding: 60px 15px;
}

.resumen-content {
    background-color: var(--main-color-app);
    border-radius: 10px;
    padding: 17px;
}

.resumen-content h2, .resumen-content p {
    margin: 0;
    color: var(--white-app-color);
}

.resumen-content h2 {
    font-size: 1.5rem;
}

.resumen-content p:nth-child(2) {
    font-size: 1.125rem;
    margin-top: 60px;
}

.resumen-content p:nth-child(3) {
    font-size: 2.845425rem;
    margin: 1.25em 0;
    font-weight: bold;
    text-align: center;
    overflow-wrap: break-word;
}




/*
============
    BODY
============
*/

/* Resumen boletas*/
.resumen-body {
    background-color: white;
    border: 1px #e3e3e3 solid;
    margin: 40px 7px;
    padding: 0 10px;
}

.boletas-container h2, .boleta p {
    margin: 0;
}

.boletas-container h2 {
    font-size: 2rem;
    padding: 50px 0;
}

.listado-boletas {
    margin-bottom: 50px;
}

.boleta {
    background-color: var(--main-light-color);
    padding: 10px 15px;
    border: 1px solid var(--main-color-app);
    border-radius: 10px;
    color: var(--white-app-color);
}

.boleta:not(:last-child) {
    margin-bottom: 15px;
}

.boleta .titulo {
    display: grid;
    grid-template-columns: 1fr 0.15fr;
    align-items: center;
    font-size: 1.25rem;
    margin: 10px 0;
}

.boleta .titulo span {
    font-weight: bold;
}

.boleta .titulo span a {
    color: var(--white-app-color);
    text-decoration: none;
}

.boleta .titulo .fa-trash-can {
    font-size: 30px;
    justify-self: end;
    align-self: center;
    color: var(--button-app-color);
    cursor: pointer;
}

.boleta .costo {
    font-weight: bold;
    font-size: 1.25rem;
}

/* Modal de confirmacion para eliminar gastos */
dialog {
    padding: 30px 15px;
    border: 0;
    border-radius: 10px;
}

dialog::backdrop {
    background-color: #000000;
    opacity: 0.5;
}

.header-modal {
    display: flex;
}

.texto-modal-container h2, .texto-modal-container p {
    margin: 0 0 20px;
}

.header-modal .fa-solid, .texto-modal-container h2 {
    font-size: 20px;
}

.icono-alerta .fa-triangle-exclamation {
    color: var(--button-app-color);
    background-color: #ffa8a6;
    margin-right: 15px;
    padding: 7px 5px;
    border-radius: 20px;
}

.close-modal .fa-xmark {
    color: #838383;
    cursor: pointer;
}

.close-modal .fa-xmark:hover {
    color: #595959;
}

.texto-modal-container p {
    color: #838383;
}

.caja-decision button {
    width: stretch;
    padding: 15px 20px;
    font-family: var(--main-font-app);
    font-weight: bold;
    cursor: pointer;
    border: 0;
    border-radius: 15px;
}

.caja-decision button[value="confirmar"] {
    background-color: var(--button-app-color);
    color: var(--white-app-color);
}

.caja-decision button[value="confirmar"]:hover, .caja-decision button[value="confirmar"]:focus {
    background-color: #d56561;
}

.caja-decision button[value="cancelar"] {
    background-color: var(--white-app-color);
    border: 1px #b1b1b1 solid;
    color: #515151;
    margin: 0 0 15px 0;
}

