/* Aqui se definen las custom properties usadas habitualmente */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --main-color-app: #3F3C9C;
    --main-light-color: #8D7FE9;
    --button-app-color: #D14D49;
    --white-app-color: #F8F8FF;
    --placeholder-color: #A9A9A9;
    --main-font: "Inter", sans-serif;
}
